<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <form method="POST">
        <input type="number" name="money" id="money">
        <input type="submit" value="Add">
    </form>
</body>
</html>