<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %> 
<body>
    <ol>
        <% for(var person of message) { %>
            <li>
                <a href="/admin/<%= username %>/GetCustomerByPhoneNumber/<%= person["PhoneNumber"] %>"><%= person["PhoneNumber"] %></a>
                <br>
            </li>
        <% } %>
    </ol>
</body>
</html>

