<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <h3> Hi <%= username %>, the registation is unsuccessful. Please try again</h3>
    <a href="/register">Try register Again</a>
</body>
</html>