<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <a href="/register"> Register Admin</a> <br>
    <a href="/Adminlogin"> Admin Login</a> <br>
    <a href="/Userlogin"> User Login</a>
</body>
</html>