<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %> 

<body>

<ul>
  <li id="one"><a href="/admin/<%= username%>/GetAllCustomers">Get All Customers</a></li>
  <li id="two"><a href="/admin/<%= username%>/GetCustomerByPhoneNumber">Get Customer By PhoneNumber</a></li>
</ul>
  
</body>
</html>
