<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %> 
<div class="center">

<h2 >Block Chain User Login</h2>

<form method="POST">
  <label for="name">Mobile number:</label><br>
  <input type="text" id="name" name="username"><br>
  <br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="password"><br><br>
  <br>
  <input type="submit" class="button" value="Login">
</form> 

</div>

</body>
</html>